*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #ffffff;
}

/*--------------------HEADER------------------------*/



.nav{
    background-color: #000000;

    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000000;
    width: 60%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    height: 530px;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}

/*-----------CONTENEDOR SEARCH--------------------*/

.contenedor_search{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80%;
    margin-top: 25px;
    margin-left: 55px;
}

.contenedor_search input{
    width: 80%;
}

.contenedor_search button img{
    width: 35px;
}

/*---------------CONTENEDOR SECCION------------------*/

.contenedor_seccion{
    background-color: #ffffff;
    width: 95%;
    margin: 0 auto;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.carta{
    background-color: brown;
    height: 180px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}


.contenedor_titulo_carta{
    background-color: #e7caa9;
    border-radius: 15px 15px 0px 0px;
    height: 40px;
}

.contenedor_titulo_carta h2{
    text-align: center;
    padding: 6px;
}


.footer_pagina{
    background-color: #7c9982;
    height: 80px;
    width: 95%;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: 5px 5px;
    box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor_redes img{
    height: 27px;
    width: 27px;
    margin-right: 10px;
}

.footer_pagina p{
    font-weight: bold;
    font-size: 13px;
    margin-right: 45px;
    margin-top: 60px;

}
