*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #e7caa9;
}

/*--------------------HEADER------------------------*/


header{
    background-color: #7c9982;
    width: 97%;
    height: 60px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
}

header p{
    font-size: 23px;
    padding: 15px;
    font-weight: bolder;
    font-family: 'Rubik Puddles', cursive;
}

.navegador{
    margin-left: 5px;
}

.navegador ul li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 18px;

}

.navegador ul li a img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/*-----------CONTENEDOR SEARCH--------------------*/

.contenedor_search{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80%;
    margin-top: 25px;
    margin-left: 40px;
}

.contenedor_search input{
    width: 80%;
}

.contenedor_search button img{
    width: 35px;
}

/*---------------CONTENEDOR SECCION------------------*/

.contenedor_seccion{
    background-color: #7c9982;
    width: 95%;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.carta{
    background-color: brown;
    height: 170px;
    width: 170px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
}


.contenedor_titulo_carta{
    background-color: #e7caa9;
    border-radius: 15px 15px 0px 0px;
    height: 40px;
}

.contenedor_titulo_carta h2{
    text-align: center;
    padding: 6px;
}


.contenedor_seccion_1{
    background-color: #7c9982;
    height: 80px;
    width: 95%;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px;
    box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 11px 10px 50px 0px rgba(0,0,0,0.69);
}

